/* 노멀라이징 시작 */
*{
    padding: 0;
    margin: 0;
  }
  ul , li{
    list-style: none;
  }
  a{
    color: inherit;
    text-decoration: none;
  }
  /* 노멀라이징 끝 */
  
  /* 라이브러리 시작 */
  .cell{
    float: left;
  }
  .cell2{
    float: right;
  }
  .row::after{
    display: block;
    content: "";
    clear: both;
  }
  .con{
    width: 1300px;
    margin: 0 auto;
  }
  /* 라이브러리 끝 */
  
  /* 스타일 시작 */
  .header{
    height: 120px;
    background-color: red;
  }
  .header > .logo-box{
    width: 150px;
    height: 120px;
    background-color: purple;
  }
  .header > .menu-box{
    width: 500px;
    height: 120px;
    background-color: purple;
  }
  
  .main-visual{
    height: 600px;
    background-color: gray;
    background-image: url(https://cdn.aitimes.kr/news/photo/202003/15674_16978_055.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .section-wrap{
    height: 2250px;
    background-color: #ddd;
  }
  .section-wrap > .section-left{
    width: 870px;
    height: 100%;
    background-color: red;
    padding-right: 40px;
    box-sizing: border-box;
  }
  .section-wrap > .section-left > .title-box{
    width: 100%;
    height: 30px;
    background-color: #aaa;
    margin-top: 50px;
  }
  .section-wrap > .section-left > .title-box > h3{
    line-height: 30px;
  }
  .section-wrap > .section-left > .title-box > p{
    width: 90px;
    height: 30px;
    background-color: white;
    text-align: center;
    line-height: 30px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 10px
  }
  
  .section-wrap > .section-left > .content-box{
    width: 100%;
    height: 300px;
    background-color: pink;
    margin-top: 25px;
  }
  
  .section-wrap > .section-left > .content-box > .img-box{
    width: 530px;
    height: 100%;
    background-color: #486;
  }
  .section-wrap > .section-left > .content-box > .txt-box{
    width: 280px;
    height: 100%;
    background-color: #759;
  }
  .section-wrap > .section-left > .content-box > .txt-box > .type{
    width: 80px;
    height: 25px;
    background-color: #dae6f4;
    text-align: center;
    line-height: 25px;
    color: #357fc8;
  }
  .section-wrap > .section-left > .content-box > .txt-box > .txt-title{
    width: 100%;
    height: 230px;
    background-color: #aaa;
  }
  
  .section-wrap > .section-right{
    width: 430px;
    height: 100%;
    background-color: blue;
  }
  
  /* 스타일 끝 */