.box{
  width : 200px ;
  height : 200px ;
  background-color : orangered ;
  margin : 50px auto;
  text-align: center;
  border: 5px solid black;
  box-sizing: border-box ;
  line-height : 200px;
  box-shadow : -10px 10px 10px black ;
}
.box2{
  width : 50% ;
  height : 200px ;
  background-color : orangered ;
  margin : 50px auto;
  text-align: center;
  border: 5px solid black;
  box-sizing: border-box ;
  line-height : 200px;
  box-shadow : -10px -10px 10px black ;
}
.box3{
  width : 200px ;
  height : 200px ;
  background-color : orangered ;
  margin : 50px auto;
  border-radius : 50%;
  text-align: center;
  border: 5px solid black;
  box-sizing: border-box ;
  line-height : 190px;
  box-shadow : 10px 10px 10px black ;
}
