#red{
    color: red ;
}
#blue{
    color: blue ;
}
#cyan{
    color: cyan ;
}
#yellow{
    color: yellow ;
}
#purple{
    color: purple;
}
.pink {
    color: pink ;
}
.blue {
    color: blue ;
}
.green{
    color: green ;
}
