/* 노멀라이징 */
*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    display: block;
    clear: both;
    content: "";
}
.cell{
    float: left;
}

/* 레이아웃 */
.wrap{
    width: 1200px;
    margin: 0 auto;
}

.header{
    background-color: #ddd;
}
.header > .logo{
    width: 250px;
    height: 100px; 
    background-color: #888;
}
.header > .nav{
    width: 950px; 
    height: 100px;
    background-color: #777;
}

.baner{
    height: 300px;
    background-color: #666;
}

.contents > div{
    width: 400px;
    height: 200px;
}
.contents > .cont1{
    background-color: #555;
}
.contents > .cont2{
    background-color: #444;
}
.contents > .cont3{
    background-color: #333;
}

.footer > .foot1{
    width: 200px;
    height: 100px;
    background-color: #444;
}
.footer > .foot2{
    width: 800px;
    height: 100px;
    background-color: #333;
}
.footer > .foot3{
    width: 200px;
    height: 100px;
    background-color: #222;
}
    

