/* 노멀라이징 */
*{
    margin: 0;
    padding: 0;
}

.clearfix::after{
    display: block;
    clear: both;
    content: "";
}

.cell{
    float: left;
}

.wrap{
    width: 1200px;
    height: 900px;
    margin: 0 auto;
}

.side{
    width: 300px;
    height: 900px;
    background-color: #888;
}
.wrap > .side > .logo{
    width: 300px;
    height: 150px;
    background-color: #666;
}
.wrap > .side > .nav{
    width: 300px;
    height: 750px;
    background-color: #555;
}

.content{
    width: 900px;
    height: 900px;
    background-color: #777;
}

.wrap > .content > .banner{
    width: 900px;
    height: 450px;
    background-color: #444;
}

.wrap > .content > .contents > div{
    width: 33.33%;
    height: 300px;
}
.wrap > .content > .contents > .cont1{
    background-color: #333;
}
.wrap > .content > .contents > .cont2{
    background-color: #222;
}
.wrap > .content > .contents > .cont3{
    background-color: #111;
}


.wrap > .content > .footer > .foot1{
    width: 200px;
    height: 150px;
    background-color: #999;
}
.wrap > .content > .footer > .foot2{
    width: 700px;
    height: 75px;
    background-color: #888;
}
.wrap > .content > .footer > .foot3{
    width: 700px;
    height: 75px;
    background-color: #777;
}