*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.clearfic::after{
    display: block;
    content: "";
    clear: both;
}
img{
    vertical-align: top;
    border: 0;
}
body{
    color: #222328
}

.tbg{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgb(93, 93, 240);
}

.bbg{
    position: absolute;
    top: 600px;
    width: 100%;
    height: 100px;
    background-color: #ddd;
    z-index: -1;
}

.wrap{
    width: 1200px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 10;
}
header h1{
    float: left;
    width: 200px;
    margin-top: 30px;
}
header nav{
    float: right;
    width: 700px;
    margin-top: 30px;
    
}
header nav ul.gnb{
    width: 100%;
    text-align: center;
    font-size: 18px;
}
header nav ul.gnb>li{
    width: 25%;
    float: left;
    position: relative;
}

header nav ul.gnb>li>a{
    font-size: 22px;
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
header nav ul.gnb>li:hover>a{
    background-color: #ee9797;
    color: #fff;
}
header nav ul.gnb>li>ul.sub{
    width: 100%;
    line-height: 40px;
    background-color: #fff;
    display: none;
    position: absolute;
    left: 0;
    top: 45px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}
.subborder1{
    border-left: 1px solid #ccc;
    box-sizing: border-box;
}
.subborder2{
    border-right: 1px solid #ccc;
    box-sizing: border-box;
}
header nav ul.gnb>li>ul.sub>li{
    width: 100%;
    height: 40px;
}
header nav ul.gnb>li>ul.sub>li>a{
    display: block;
    width: 100%;
    height: 100%;
}
header nav ul.gnb>li>ul.sub>li:hover>a{
    background-color: #ee9797;
    color: #fff;
}

.slide{
    width: 100%;
    height: 300px;
}
.slide > ul.slide_all{
    width: 100%;
    height: 300px;
    position: relative;
}
.slide ul.slide_all>li{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.contents{
    width: 100%;
    height: 200px;
}
.contents section{
    float: left;
}
.contents .notice_gal{
    width: 500px;
    height: 200px;
    position: relative;
}
.contents .notice_gal h3{
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: #ccc;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}
.contents .notice_gal h3.l100{
    left: 100px;
}
.contents .notice_gal h3.on{
    background-color: #ee9797;
}
.contents .notice_gal ul{
    position: absolute;
    left: 0;
    top: 30px;
    display: none;
}
.contents .notice_gal ul.on{
    display: block;
}
.contents .notice_gal ul.notice{
    width: 100%;
}
.contents .notice_gal ul.notice li{
    width: 100%;
    height: 28px;
    line-height: 28px;
    position: relative;
}
.contents .notice_gal ul.notice li a{
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    box-sizing: border-box;
}
.contents .notice_gal ul.notice li a:hover{
    color: #ccc;
}
.contents .notice_gal ul.notice li a .day{
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 12px;
}

.contents .notice_gal ul.gal{
    width: 100%;
}
.contents .notice_gal ul.gal li{
    width: 110px;
    height: 110px;
    float: left;
    margin-left: 40px;
    margin-top: 20px;
    text-indent: -999px;
}
.contents .notice_gal ul.gal li:nth-child(1){
    background-image: url(../images/B_1/galimg.png);
}
.contents .notice_gal ul.gal li:nth-child(2){
    background-image: url(../images/B_1/galimg.png);
}
.contents .notice_gal ul.gal li:nth-child(3){
    background-image: url(../images/B_1/galimg.png);
}
.contents .notice_gal ul.gal li a{
    display: block;
    width: 100%;
    height: 100%;
}

.contents .banner_sub{
    width: 350px;
    height: 200px;
    overflow: hidden;
}
.contents .baro{
    width: 350px;
    height: 200px;
}
.contents .baro h2{
    background-color: #ee9797;
    color: #fff;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
}
.contents .baro h3{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: #333;
    color:#fff;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    margin-top: 3px;
}
.contents .baro h3 a{
    display: block;
    width: 100%;
    height: 100%;

}
.contents .baro h3 a:hover{
    opacity: 0.5;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #ddd;
}
footer p{
    float: left;
    width: 200px;
    margin-top: 30px;
}
footer .f_right{
    float: left;
    width: 1000px;
    height: 100px;
    margin-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}
footer .f_right ul.f_menu{
    width: 100%;
}
footer .f_right ul.f_menu li{
    float: left;
    margin-right: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}
footer .f_right ul.copy{
    float: left;
    width: 1000px;
    height: 100px;
    margin-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}
footer .f_right ul.copy li{
    float: left;
    margin-right: 20px;
}



.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
    display: none;
}
.modal .modal_inner{
    width: 800px;
    height: 600px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.modal .modal_inner button{
    width: 150px;
    height: 50px;
    font-size: 30px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}