*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    vertical-align: top;
}
.clearfix::after{
    display: block;
    content: "";
    clear: both;
}

.topbg{
    width: 100%;
    height: 100px;
    background-color: #00C73C;
    position: absolute;
    top: 0;
    z-index: -10;
}
.bottombg{
    width: 100%;
    height: 100px;
    background-color: #777777;
    position: absolute;
    top: 600px;
    z-index: -10;
}

.wrap{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.navbg{
    width: 1200px;
    height: 200px;
    background-color: rgb(135, 236, 135);
    position: absolute;
    top: 100px;
    left: 0;
    display: none;
    z-index: 10;
}

header{
    width: 100%;
    height: 100px;
}
header .logo{
    width: 200px;
    height: 100%;
    float: left;
}
header .logo img{
    margin-top: 30px;
}
header nav{
    width: 1000px;
    height: 100%;
    float: left;
    position: relative;
    z-index: 10;
}
header nav>ul{
    width: 600px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 50px;
    margin-left: 380px;
    position: absolute;
}
header nav>ul>li{
    width: 25%;
    height: 100%;
    float: left;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    box-sizing: border-box;
    color:#333333;
    font-size: 20px;
    font-weight: bold;
}
header nav>ul>li:nth-child(4){
    border-right: 1px solid black;
}
header nav>ul>li:hover{
    background-color: lightgreen;
    color:white;
}

header nav>ul>li>a{
    display: block;
}
header nav>ul>li>ul{
    display: none;
}
header nav>ul>li>ul>li{
    font-size: 18px;
    color:#333333;
}
header nav>ul>li>ul>li:hover{
    background-color: #00C73C;
    color:white;
}
header nav>ul>li>ul>li>a{
    display: block;
}

.slide{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.slide ul{
    width: 100%;
    height: 900px;
    position: absolute;
    top: 0px;
    transition: 1s;
}


.content{
    width: 100%;
    height: 200px;
    color:#333333;
}
.content section{
    width: 400px;
    float: left;
}
.content .gongi h2{
    background-color: lightgreen;
    font-size: 18px;
    text-align: center;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 0px 15px 0px 0px;
}
.content .gongi > ul{
    width: 100%;
    height: 170px;
}
.content .gongi > ul > li{
    height: 28.3px;
    line-height: 28px;
}
.content .gongi > ul > li:hover{
    background-color: lightgreen;
}
.content .gongi > ul > li > a{
    display: block;
    width: 100%;
}
.content .gongi > ul > li > a > span{
    margin-left: 255px;
    font-size: 12px;
}


.content .gal h2{
    background-color: lightgreen;
    font-size: 18px;
    text-align: center;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 0px 15px 0px 0px;
}
.content .gal > ul{
    width: 100%;
    height: 170px;
}
.content .gal > ul > li{
    width: 110px;
    height: 110px;
    margin-left: 17.5px;
    margin-top: 30px;
    float: left;
}
.content .gal > ul > li > a{
    display: block;
    width: 100%;
}

.content .baro > h2{
    display: none;
}
.content .baro > a{
    display: block;
    width: 100%;
}