*{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.clearfix::after{
    display: block;
    content: "";
    clear: both;
}
img{
    vertical-align: top;
}
body{
    background-color: #ffffff;
    color: #333333;
}



.tbar{
    width: 100%;
    height: 100px;
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4a4948;
}

.wrap{
    width: 1200px;
    margin: 0 auto;
}

.wrap > header{
    width: 100%;
    height: 100px;
    position: relative;
}
.wrap > header > h1{
    float: left;
    width: 200px;
    height: 100%;
    padding-top: 30px;
    box-sizing: border-box;
}
.wrap > header > h1 > a{
    display: block;
    width: 100%;
    height: 40px;
}
.wrap > header > ul{
    float: left;
    width: 600px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #d1d1d1;
    position: absolute;
    bottom: 0;
    right: 10px;
}
.wrap > header > ul > li{
    float: left;
    width: 25%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
.wrap > header > ul > li > a{
    display: block;
    width: 100%;
    height: 100%;
}
.wrap > header > ul > li:hover > a{
    background-color: rgb(83, 169, 191);
}
.wrap > header > ul > li > ul{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    display: none;
    position: absolute;
    z-index: 10;
}
.wrap > header > ul > li > ul > li{
    width: 100%;
    font-size: 18px;
}
.wrap > header > ul > li > ul > li > a{
    display: block;
    width: 100%;
    height: 100%;
}
.wrap > header > ul > li > ul > li:hover > a{
    background-color: #4a4948;
    color: white;
}


.wrap > .slide{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.wrap > .slide > ul{
    width: 100%;
    height: 900px;
    position: absolute;
    top: 0px;
    transition: 1s;
}
.wrap > .slide > ul > li{
    width: 100%;
    height: 300px;
}
.wrap > .slide > ul > li > a{
    display: block;
    width: 100%;
    height: 100%;
}

.wrap > .contents{
    width: 100%;
    height: 200px;
}
.wrap > .contents > .gon{
    float: left;
    width: 400px;
    height: 100%;
}
.wrap > .contents > .gon > h2{
    width: 100px;
    height: 30px;
    background-color: #caac7d;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    border-radius: 0 15px 0 0;
}
.wrap > .contents > .gon > ul{
    width: 100%;
    height: 170px;
    border: 1px solid rgb(158, 158, 158);
    box-sizing: border-box;
}
.wrap > .contents > .gon > ul > li{
    width: 100%;
    height: 20%;
    line-height: 34px;
}
.wrap > .contents > .gon > ul > li > a{
    display: block;
    width: 100%;
    height: 100%;
}
.wrap > .contents > .gon > ul > li:hover > a{
    background-color: #b99559;
}
.wrap > .contents > .gon > ul > li > a > span{
    margin-left: 120px;
    font-size: 14px;
}


.wrap > .contents > .gal{
    float: left;
    width: 400px;
    height: 100%;
}
.wrap > .contents > .gal > h2{
    width: 100px;
    height: 30px;
    background-color: #caac7d;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    border-radius: 0 15px 0 0;
}
.wrap > .contents > .gal > ul{
    width: 100%;
    height: 170px;
    padding-top: 25px;
    box-sizing: border-box;
}
.wrap > .contents > .gal > ul > li{
    float: left;
    width: 120px;
    height: 120px;
    margin-left: 10px;
}
.wrap > .contents > .gal > ul > li:hover{
    opacity: 0.5;
}
.wrap > .contents > .gal > ul > li > a{
    display: block;
    width: 100%;
    height: 100%;
}
.wrap > .contents > .gal > ul > li > a > img{
    width: 100%;
}





.wrap > .contents > .banner{
    float: left;
    width: 400px;
    height: 100%;
}
.wrap > .contents > .banner > h3{
    display: none;
}
.wrap > .contents > .banner > a{
    display: block;
    width: 100%;
    height: 100%;
}