*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.clearfix::after{
    display: block;
    content: "";
    clear: both;
}
img{
    vertical-align: top;
}
body{
    background-color: #ffffff;
    color: #333333;
}

.tbg{
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background-color: #00C73C;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
.wrap > header{
    width: 100%;
    height: 100px;
    background-color: #00C73C;
    position: relative;
}
.wrap > header > h1{
    float: left;
    width: 200px;
    height: 100%;
    padding-top: 30px;
    box-sizing: border-box;
}
.wrap > header > h1 > a{
    width: 100%;
    height: 40px;
}

.wrap > header > ul{
    position: absolute;
    float: left;
    width: 600px;
    height: 40px;
    top: 60px;
    right: 10px;
    text-align: center;
    line-height: 40px;
}
.wrap > header > ul > li{
    float: left;
    width: 25%;
    height: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    box-sizing: border-box;
}
.wrap > header > ul > li:last-child{
    border-right: 1px solid black;
}
.wrap > header > ul > li > a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
}
.wrap > header > ul > li:hover > a{
    background-color: rgba(63, 245, 94, 0.979);
    color: white;
}
.wrap > header > ul > li > ul{
    width: 100%;
    display: none;
}
.wrap > header > ul > li > ul > li{
    width: 150px;
    height: 40px;
}
.wrap > header > ul > li > ul > li > a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
}
.wrap > header > ul > li > ul > li:hover > a {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.navbg{
    position: absolute;
    top: 100px;
    left: 0;
    width: 1200px;
    height: 160px;
    background-color: rgba(0, 219, 37, 0.979);
    display: none;
}

.wrap > .slide{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.wrap > .slide > ul{
    position: absolute;
    width: 3600px;
    height: 100%;
    left: 0;
    transition: 1s;
}
.wrap > .slide > ul > li{
    float: left;
    width: 1200px;
    height: 100%;
}
.wrap > .slide > ul > li > a{
    display: block;
    width: 100%;
    height: 100%;
}
.wrap > .slide > ul > li > a > img{}