*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    vertical-align: top;
}
body{
    color: #333333;
    background-color: #ffffff;
}
.clearfix::after{
    display: block;
    content: "";
    clear: both;
}


.wrap{
    width: 1000px;
}
.wrap > .leftbox{
    width: 200px;
    height: 650px;
    background-color: #fad7f3;
}
.wrap > .leftbox > h1{
    width: 100%;
    height: 100px;
    padding-top: 30px;
    box-sizing: border-box;
}
.wrap > .leftbox > h1 > a{
    display: block;
    width: 100%;
    height: 40px;
}

.wrap > .leftbox > nav{
    width: 180px;
    margin: 0 auto;
}
.wrap > .leftbox > nav > ul{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.wrap > .leftbox > nav > ul > li{
    width: 100%;
    height: 25%;
    line-height: 50px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-sizing: border-box;
}
.wrap > .leftbox > nav > ul > li:last-child{
    border-bottom: 1px solid black;
    box-sizing: border-box;
}
.wrap > .leftbox > nav > ul > li > a{
    display: block;
    width: 100%;
}
.wrap > .leftbox > nav > ul > li:hover > a{
    background-color: rgba(0, 0, 0, 0.3);
}
.wrap > .leftbox > nav > ul > li > ul{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    border-top: 1px solid black;
    box-sizing: border-box;
    display: none;
}
.wrap > .leftbox > nav > ul > li > ul > li{
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.wrap > .leftbox > nav > ul > li > ul > li > a{
    display: block;
    width: 100%;
}
.wrap > .leftbox > nav > ul > li > ul > li:hover > a{
    background-color: rgba(0, 0, 0, 0.3);
    color: #fad7f3;
}