.section01 {
    background-color: #aaa;
}

.section02 {
    background-color: #bbb;
}

.section03 {
    background-color: #ccc;
}

.section04 {
    background-color: #ddd;
}

.slide1 {
    background-color: #123;
}

.slide2 {
    background-color: #456;
}

.slide3 {
    background-color: #789;
}

.slide4 {
    background-color: #951;
}

.slide5 {
    background-color: #753;
}