* {
    margin: 0;
    padding: 0;
}

.cell {
    float: left;
}

.row::after {
    display: block;
    clear: both;
    content: "";
}

ul,
li {
    list-style: none;
}


.box-wrap {
    width: 900px;
    height: 360px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 200px;
    position: relative;
}

.box-list {
    position: relative;
    width: 3600px;
    transition: 1s;
    left: 0px;
}

.box {
    width: 900px;
    height: 360px;
    line-height: 360px;
    text-align: center;
    font-size: 50px;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: blue;
}

.box3 {
    background-color: yellow;
}

.box4 {
    background-color: gray;
}


.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-btn {
    left: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid purple;
    margin-left: 20px
}

.right-btn {
    right: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid black;
    margin-right: 20px;
}



.dots-wrap {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.dots {
    width: 50px;
    height: 50px;
    background-color: green;
    /*   display: inline-block; */
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    opacity: 0.5;
}

.dots.active {
    opacity: 0.8;
}