body {
    background-color: #888;
}

.slider-wrap {
    max-width: 500px;
    margin: 0 auto;
}

.slider-wrap2 {
    max-width: 500px;
    margin: 0 auto;
}

.content {
    width: 100%;
    height: 300px;
    background-color: purple;
    border: 5px solid black;
    box-sizing: border-box;
    text-align: center;
    font-size: 50px;
    color: white;
}