* {
    margin: 0;
    padding: 0;
}

.cell {
    float: left;
}

.row::after {
    display: block;
    clear: both;
    content: "";
}



.box-wrap {
    width: 900px;
    height: 360px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 200px;
}

.box-list {
    position: relative;
    width: 3600px;
    transition: 1s;
    left: 0px;
}

.box {
    width: 900px;
    height: 360px;
    line-height: 360px;
    text-align: center;
    font-size: 50px;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: blue;
}

.box3 {
    background-color: yellow;
}

.box4 {
    background-color: gray;
}