/* 배경색 */
body {
    height: 100vh;
    background: linear-gradient(45deg, violet, dodgerblue, hotpink);


}

/* 노멀라이즈 */
* {
    padding: 0;
    margin: 0;
}

/* 라이브러리 */
.row:after {
    display: block;
    clear: both;
    content: "";
}

.cell {
    float: left;
}

/* 스타일 */
/* 초기화 */
.reset {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: darkcyan;
    color: #ddd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* 팝업 레이어*/
.popup-box-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-box-wrap.active {
    display: none;
}

.popup-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 25px;
    width: 300px;
}

.content-area {
    padding: 10px 15px;
}

.btn-area {
    position: absolute;
    width: 100%;
    height: 20px;
    line-height: 20px;
    bottom: 5px;
}

.btn-area>input {
    height: 20px;
    margin-left: 25px;
    margin-right: 20px;
}

.btn-area>p {
    margin-right: 20px;
}

.btn-area>.closeBtn {
    cursor: pointer;
}